@import "tailwindcss";

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
  }

  body {
    @apply bg-dark-900 text-white min-h-screen font-sans;
  }
}

@theme {
  --color-dark-900: #0a0a0a;
  --color-dark-800: #171717;
  --color-dark-700: #262626;
  --color-primary-600: #2563eb;
  --color-primary-500: #3b82f6;
  --color-primary-900: #1e3a8a;

  /* Add purple for discourses */
  --color-purple-900: #581c87;
  --color-purple-600: #9333ea;
  --color-purple-500: #a855f7;
  --color-purple-100: #f3e8ff;
}